---
interface Props {
    height: number;
    href: string;
    src: string;
    width: number;
}
const { height, href, src, width } = Astro.props
---


<a
    class={`relative h-[${height}px] group`}
    href={href}
  >
    <div class="z-20">
      <img
        class="ai hover:z-2 z-20"
        src={src}
        width={width}
        height={height}
        alt=""
        style={{ height: `${height}px`, objectFit: "cover" }}
      />
    </div>
    <span class="opacity-75 group-hover:opacity-0 text-[11px] absolute z-1 bottom-px h-3.5 leading-3.5 font-medium right-px inline-block aling-top m-0 bg-black text-white p-[0_4px]">
      3:09
    </span>
  </a>