---
import BaseHead from "../../components/BaseHead.astro";
import Button from "../../components/Button.astro";
import SearchBar from "../../components/SearchBar.astro";
import SecondaryButton from "../../components/SecondaryButton.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import SideBar from "../../components/MainPage/SiderBar.astro";
import VideoThumbnail from "../../components/VideoThumbnail.astro";
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
const proyectos = await getCollection("proyectos");
---
<MainLayout>
  <main class="flex min-h-screen flex-col">
    <div class="flex">
      <SideBar />
      <div class="grow flex flex-col pt-12 items-stretch">
        <div class="w-[calc(100%-230px)] bg-white flex-auto p-3.5 pb-2.5 text-[13px] mb-2.5 z-1 fixed flex grow justify-center">
          <div class="flex gap-7">
              <a href="/">What to watch</a>
              <a href="/fav">Music</a>
          </div>
        </div>
        <div class="bg-white p-4 m-8 mt-13">
          <div class="flex flex-col gap-3">

            <div class="flex">
              <div class="flex gap-2">
                <VideoThumbnail
                  href={`/main`}
                  width={402}
                  height={226}
                  src="https://w0.peakpx.com/wallpaper/49/255/HD-wallpaper-tenma-tsukamoto-anime-school-rumble-tenma-skamoto-other-school-uniform.jpg"
                />

                <div class="flex flex-col">
                  <a href={`/main`}>
                    <h2
                      class="text-[#167ac6] text-[13px] font-medium hover:underline"
                    >
                      Bienvenidos al circo!!!!
                    </h2>
                  </a>
                  <div class="text-[11px] text-[#767676]">De loops</div>
                  <div class="text-[11px] text-[#767676]">Hecho AHORA!!</div>
                </div>
              </div>

              <div class="flex flex-col">
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>
              </div>
            </div>
            <div class="flex flex-col gap-3">
              <h1 class="">Proyectos!!!</h1>
              <div class="flex gap-3">
                {
                  proyectos
                    // .filter((project) => project.id !== 309)
                    .map((project, i) => (
                      <div class="flex flex-col w-[196px]">
                        <VideoThumbnail
                          href={`/project/${project.id}`}
                          width={196}
                          height={110}
                          src={project.data.thumbnail!}
                        />
                        <div class="flex flex-col">
                          <a href={`/project/${project.id}`}>
                            <h2 class="text-[#167ac6] text-[13px] font-medium hover:underline">
                              {project.data.title}
                            </h2>
                          </a>
                          <div class="text-[11px] text-[#767676]">De loops</div>
                          <div class="text-[11px] text-[#767676]">
                            Hecho el das
                          </div>
                        </div>
                      </div>
                    ))
                }
              </div>
            </div>
            <div class="flex flex-col gap-3">
              <h1 class="">Videos chistosos</h1>
              <div class="flex gap-3">
                                {
                  proyectos
                    // .filter((project) => project.id !== 309)
                    .map((project, i) => (
                      <div class="flex flex-col w-[196px]">
                        <VideoThumbnail
                          href={`/project/${project.id}`}
                          width={196}
                          height={110}
                          src={project.data.thumbnail!}
                        />
                        <div class="flex flex-col">
                          <a href={`/project/${project.id}`}>
                            <h2 class="text-[#167ac6] text-[13px] font-medium hover:underline">
                              {project.data.title}
                            </h2>
                          </a>
                          <div class="text-[11px] text-[#767676]">De loops</div>
                          <div class="text-[11px] text-[#767676]">
                            Hecho el das
                          </div>
                        </div>
                      </div>
                    ))
                }
                <!-- {youtubeData.map((project, i) => (
                    <div key={i} class="flex flex-col w-[196px]">
                      <VideoThumbnail
                        href={`/video/${project.id}`}
                        width={196}
                        height={110}
                        src={project.thumbnail!}
                      />
                      <div class="flex flex-col">
                        <a href={`/video/${project.id}`}>
                          <h2 class="text-[#167ac6] text-[13px] font-medium hover:underline">
                            {project.title}
                          </h2>
                        </a>
                        <div class="text-[11px] text-[#767676]">
                          De loops
                        </div>
                        <div class="text-[11px] text-[#767676]">
                          Hecho el {project.date}
                        </div>
                      </div>
                    </div>
                  ))} -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
